/* MARK: ROOT */
:root{
    --hero-bkg-color: #FEFAF5;
    --hero-slogan-color: #335576;
    --hero-button-color: #DB7A4E;

    --reco-title-color: #335576;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--hero-bkg-color);
    padding: 5%;
}

.hero__cta{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.hero__text{
    margin: 2rem 0;
}

.hero__img{
    max-width: 40%;
}

.recommendations{
    padding: 5%;
}

.recommendations__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4rem;
}

.recommendations__card{
    margin: 2rem;
    position: relative;
}

.recommendations__img{
    width: 100%;
    max-width: 100%;
    border:  1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.recommendations__label{
    position: absolute;
    bottom: 5%;
    right: 10%;
    color: white;
}